<h1> Please edit Property Details </h1>

<form action='/property/all' method='POST'>
  <input type="hidden" name="_method" value="patch">
  <label for='title'>
    Title:
    <input type='text' name='title' value="<%=@property.title%>" required/>
  </label>
  <label for='property_type'>
    Property Type:
    <input type='text' name='property_type' value="<%=@property.property_type%>" required/>
  </label>
  <label for='location'>
    Location:
    <input type='text' name='location' value="<%=@property.location%>" required/>
  </label>
  <label for='bedrooms'>
    Bedrooms:
    <input type='number' name='bedrooms' value="<%=@property.bedrooms%>" required/>
  </label>
  <label for='sleeps'>
    Sleeps:
    <input type='number' name='sleeps' value="<%=@property.sleeps%>" required/>
  </label>
  <label for='photo'>
    Photo:
    <input type='text' name='photo' value="<%=@property.photo%>" required/>
  </label>
  <label for='price'>
    Price:
    <input type='number' name='price' value="<%=@property.price%>" required/>
  </label>
  <label for='date_available_to'>
    Date Available To:
    <input type='date' name='date_available_to' value="<%=@property.date_available_to%>" required />
  </label>
  <label for='date_available_from'>
    Date Available from:
    <input type='date' name='date_available_from' value="<%=@property.date_available_from%>" required />
  </label>
  <input type="hidden" name="id" value="<%=@property.id%>"/>
  <input type='submit' value='Confirm Changes' required/>
</form>
