<h1> Properties Available on ArrgBnB </h1>

<ul id='properties'>
  <% @properties.each do |property| %>
    <li>
      <!-- add picture here -->
      Title: <%= property.title %>
      Property Type: <%= property.property_type %>
      Location:   <%= property.location   %>
      Price:   <%= property.price   %>
      Sleeps:   <%= property.sleeps   %>
      Bedrooms:   <%= property.bedrooms  %>

    </li>
  <% end %>

</ul>

<form action='/booking/new' method='get'>
  <input type='submit' value='Book now'>
</form>
