<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Arrrgbnb!</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
  </head>

  <body>

    <%= partial :welcome %>
    <%= partial :flash %>
    <%= partial :dashboard %>
    <%= yield %>
    <% if request.path=='/users/dashboard' %>
      <%= partial :bookings_made %>
      <%= partial :bookings_received %>
      <%= partial :my_properties %>
    <% end %>

  <footer>
    <footer class="footer-partial">
    <div class="partial">
      <%= partial :sign_up %>
    </div>
    <div class="partial">
      <%= partial :log_in %></span>
    </div>
  </footer>
</body>
</html>
