<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Arrrgbnb!</title>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/application.css">
  </head>

  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= partial :sign_up %>
    <%= partial :log_in %>
    <%= yield %>
    <% if request.path=='/users/dashboard' %>
      <%= partial :bookings_made %>
      <%= partial :bookings_received %>
    <% end %>
  </body>
</html>
